.product-list{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.product-list .product{
    display: flex;
    flex-direction: column;
    border: 1px solid #80808080;
    border-radius: 8px;
}

.product .content{
    padding: 8px;
}